body {
    background-color: #FBFBFB;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-stretch: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin-top: 160px;
    /*max-width: 940px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__element {
    margin-top: 80px;
}

.last-element {
    margin-bottom: 200px;
}




/* ==========================================================================
   Text
   ========================================================================== */

h1 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-size: 48px;
    line-height: 48px;
    margin-top: 120px;
}

h2 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
}

h3 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
}

h4 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-size: 22px;
}

h5 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

p,
a {
    text-decoration: none;
    color: #333;
    margin-bottom: 0;
    margin-top: 0;
}

strong {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-size: 18px;
}

p a, .text a {
    color: #D79A70;;
}

p a:hover {
    color: #FFCDAC;
}

.text {
    max-width: 940px;
}

.text h2 {
    margin-bottom: 40px;
}

.text h4 {
    margin-top: 60px;
}

.text h5 {
    margin-top: 20px;
}

.text p {
    margin-top: 20px;
}

.text--center p {
    text-align: center;
    margin-bottom: 10px;
}

.text__element-row {
    display: flex;
    justify-content: space-between;
}

/*.text__element-row p {
    width: 50%;
}*/

.text__element-row--center {
    justify-content: center;
    margin-top: 20px;
}

.text__image {
    display: block;
    max-height: 300px;
    width: auto;
    height: auto;
    margin-top: 40px;
}

.text__image--float {
    margin-top: 20px;
}

.text__image--small {
    max-height: 100px;
}

#bauerfeind-plakat {
    max-height: 600px;
}

.text__list {
    /*width: 240px;*/
    max-width: 800px;
    list-style-type: disc;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    margin-bottom: 0;
}

.text__list--heading {
    margin-top: 10px;
}

.text__list li {
    font-size: 18px;
    line-height: 20px;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    margin-top: 5px;
    color: #444;
}

.feature-table {
    margin-top: 10px;
}

.feature-table td {
    padding: 10px 20px 0px 0;
}

.feature-table__category {
    text-align: right;
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 600;
}

.fine-print {
    font-size: 16px;
    margin-top: 20px;
}




/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
    height: 60px;
    color: #ffffff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    padding: 0 30px 0 30px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    

}

.btn--standard {
    background-color: #46877E;
}

.btn--standard:hover {
    background-color: #6CA099;
}

.btn--ghost {
    border: solid 1px #fff;
    background: 0 0;
}

.btn--read-more {
    background-color: #D79A70;
    height: 40px;
    width: 160px;
    font-size: 18px;
    white-space: nowrap;
    padding: 0;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.btn--back {
    background-color: #D79A70;
    height: auto;
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-size: 18px;
    white-space: nowrap;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;

    text-align: center;
}

.btn--back:hover,
.btn--read-more:hover {
    background-color: #FFCDAC;
}

.btn__icon {
    height: 20px;
    margin-right: 10px;
}






/* ==========================================================================
   Homepage
   ========================================================================== */

.overview {
    margin-top: 40px;
    border-collapse: separate;
    border-spacing: 40px;
}

.overview__service {
    width: 300px;
    background-image: url('/assets/check.svg');
    background-size: 18px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    white-space: nowrap;
    font-size: 22px;
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.offer {
    max-width: 940px;
    margin-top: 40px;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 940px;
    height: 100%;
}

.brand-banner {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.brands__icon {
    height: 45px;
    margin-top: 0;
}

.brands__icon--small {
    height: 50px;
}



/* ==========================================================================
   Orthopädie-Schuhtechnik/Sanitätshaus
   ========================================================================== */

.service-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 990px;
    /*margin-top: 80px;*/
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    transition: 0.2s;
    width: 300px;
    height: 380px;
    margin: 10px;
    background-color: #fff;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-link {
    cursor: pointer;
}

.card-link:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card__text h4 {
    text-align: center;
    margin-top: 40px;
    height: 50px;
    color: #333;
}

.card__text p {
    margin-left: 30px;
    margin-right: 20px;
    color: #444;
}

.card__list {
    margin-left: 50px;
}


.pain td {
    padding: 0 20px 40px 40px;
}

.table__list {
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 20px;
    width: 260px;
}

.table__list li {
    font-size: 18px;
    line-height: 20px;
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    margin-top: 5px;
    color: #444;
}


/* ==========================================================================
   Regionale Versorgung
   ========================================================================== */

.institution-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.institution-table {
    margin-top: 40px;
    width: 940px;
}

.institution {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
}


.institution__data {

    line-height: 24px;
    color: #444;
    padding: 40px 80px 40px 0;
}

.institution__data:last-child {
    padding-right: 0;
}

.institution__type {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    color: #333;
    margin-bottom: 5px;
}

/* ==========================================================================
   Mobile version
   ========================================================================== */

@media only screen and (max-width: 1024px), (min-device-width: 768px) and (max-device-width: 1024px){

    .text {
        margin: 0 60px 0 60px;
    }

    .institution-table, .institution, .institution__data, thead, tbody, th{
        display: block;
        width: 100%;
    } 

    .overview, .overview__service, .overview tr{

        display: block;

    }

    .section {
        margin-top: 80px;
    }


    .institution{
      margin: 0 0 1rem 0;
      padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: none;
    }

    .institution__data {

        line-height: 24px;
        color: #444;
        border: none;
        /*border-bottom: 1px solid #eee;*/
        text-align: center;
        padding: 10px 20px 10px 20px !important;

    }
    .institution__data:before{
 /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        white-space: nowrap;

    }

    .institution__phone, .institution__adress {
        text-align: center;
    }

    .institution-container {
    align-items: center;

   }

   .institution-container h3 {
    text-align: center;
   }

   .pain, .pain td, .pain tr{
    
        display: block;

   }

   .pain td{

    line-height: 24px;
        color: #444;
        border: none;
        /*border-bottom: 1px solid #eee;*/
        text-align: left;

        padding: 20px 20px 20px 20px;


   }
   .pain tr{
      margin: 0 0 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: none;

   }

   .pain td:before{
    /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        white-space: nowrap;

   }
   .table__list{
        text-align: left;

   }

   
   .overview__service{

        line-height: 24px;
        color: #444;
        border: none;
        /*border-bottom: 1px solid #eee;*/
        text-align: left;
        padding: 20px 20px 20px 30px;

   }
   .overview__service:before{

    position: absolute;
    white-space: nowrap;
   }
   .overview tr{

    margin: 0 0 1rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-top: none;

   }
     
}
