body {

    background-color: #FBFBFB;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


h2 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 600;
    font-size: 36px;
    margin: 0;
}

h3 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 400;
    font-size: 32px;
}

h4 {
    font-family: "HelveticaNeueBold", "HelveticaNeue-Bold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosBold', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 300;
    font-size: 24px;
}

p,
a {
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-stretch: normal;
    font-size: 18px;
    text-decoration: none;
    color: #333333;
    margin-bottom: 0;
    margin-top: 0;
}

p>a {
    font-size: 28px;
    color: #f26661;
}

p>a:hover {
    color: #FF8D8A;
}

button {
    height: 60px;
    background-color: #46877E;
    color: #ffffff;
    font-size: 24px;
    border: none;
    border-radius: 4px;
    padding-left: 40px;
    padding-right: 40px;
    /*margin-top: 40px;*/
}

button:hover {
    background-color: #6CA099;
    color: #ffffff;
    cursor: pointer;
}

.ghost-button {
    border: solid 1px #fff;
    background: 0 0 !important;
}

.section {
    margin-top: 160px;
    /*max-width: 940px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text--large p {
    text-align: center;
    margin-bottom: 10px;
}

/* ==========================================================================
   Homepage
   ========================================================================== */

.overview {
    margin-top: 40px;
    border-spacing: 40px;
}

.overview__service {
    width: 250px;
    background-image: url('/assets/check.svg');
    background-size: 18px;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 30px;
    white-space: nowrap;
    font-size: 22px;
    font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}

.offer {
    max-width: 940px;
    margin-top: 40px;
}

.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 940px;
    height: 100%;
}

.brand-banner {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

.brands__icon {
    height: 45px;
    margin-top: 0;
}

.brands__icon--small {
    height: 50px;
}

/* ==========================================================================
   Orthopädie-Schuhtechnik
   ========================================================================== */

.services {
    max-width: 940px;
}

.services p {
    margin-top: 40px;
}

.service-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    max-width: 940px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 350px;
    height: 300px;
    margin: 10px;
}

.card h4 {
    text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}