<footer>
    <div class="footer-elements">
        <div class="address footer-section">
            <!-- <img class="map" src="/assets/Map.png" alt="Karte"> -->
            <p>
                <strong>Adresse</strong>
                <br> Walter Borchard
                <br> Orthopädie-Schuhtechnik
                <br> Sanitätshaus
            </p>
            <p>
                <br> Hochstraße 8
                <br> 56112 Lahnstein
            </p>

        </div>
        <div class="contact footer-section">
            <div>
                <strong>Telefon</strong>
                <br> <a name="phone-number"></a>02621 2490
            </div>
            <div>
                <br><strong>Telefax</strong>
                <br>02621 4912
            </div>
            <div>
                <br><strong>E-Mail</strong>
                <br><a href="mailto:&#098;&#111;&#114;&#099;&#104;&#097;&#114;&#100;&#045;&#111;&#114;&#116;&#104;&#111;&#112;&#097;&#101;&#100;&#105;&#101;&#064;&#116;&#045;&#111;&#110;&#108;&#105;&#110;&#101;&#046;&#100;&#101;?subject=Kontaktanfrage">&#098;&#111;&#114;&#099;&#104;&#097;&#114;&#100;&#045;&#111;&#114;&#116;&#104;&#111;&#112;&#097;&#101;&#100;&#105;&#101;&#064;&#116;&#045;&#111;&#110;&#108;&#105;&#110;&#101;&#046;&#100;&#101;</a>
            </div>
        </div>
        <div class="open footer-section">
            <div>
                <strong>Montag und Donnerstag</strong>
                <br>8:30-18:30
            </div>
            <div>
                <br><strong>Dienstag, Mittwoch und Freitag</strong>
                <br>8:30-18:00
            </div>
            <div>
                <br><strong>Samstag</strong>
                <br>geschlossen
            </div>
        </div>
    </div>
    <div class="footer-item-group">
        <a href="/impressum" class="footer-item-grey">Impressum und Datenschutz</a>
    </div>
</footer>