<footer>
    <div class="footer-elements">
        <div class="address">
            <img class="map" src="/assets/Map.png" alt="Karte">
            <div>
                <p>
                    <strong>Adresse</strong>
                    <br> Walter Borchard
                    <br> Orthopädie-Schuhtechnik
                    <br> Sanitätshaus
                </p>
                <p>
                    <br> Hochstraße 8
                    <br> 56112 Lahnstein
                </p>
            </div>
        </div>
        <div class="contact">
            <p>
                <strong>Telefon</strong>
                <br> 02621 2490
            </p>
            <p>
                <br><strong>Telefax</strong>
                <br>02621 4912
            </p>
            <p>
                <br><strong>E-Mail</strong>
                <br>borchard-orthopaedie@t-online.de
            </p>
        </div>
        <div class="open">
            <p>
                <strong>Montag und Donnerstag</strong>
                <br>8:30-18:30
            </p>
            <p>
                <br><strong>Dienstag, Mittwoch und Freitag</strong>
                <br>8:30-18:00
            </p>
            <p>
                <br><strong>Samstag</strong>
                <br>geschlossen
            </p>
        </div>
    </div>
    <div class="footer-item-group">
        <a href="/impressum" class="footer-item-grey">Impressum und Datenschutz</a>
    </div>
</footer>