<!DOCTYPE html>
<html lang="de">

<head>

	{% include html/head.html %}

	<style>
		{% include css/reset.css %}
		{% include css/header.css %}
		{% include css/main.css %}
		{% include css/footer.css %}
		{% include css/responsive.css %}
	</style>

</head>

<body>

	{{content}}

	{% include html/footer.html %}

	<script type="text/javascript">
        let navBar = document.getElementsByClassName('header__nav-bar');
        let mainNav = document.getElementsByClassName('nav__menu');
        let navBarToggle = document.getElementsByClassName('menu-toggle');

        navBarToggle[0].addEventListener('click', function () {
        mainNav[0].classList.toggle('active');
        navBar[0].classList.toggle('menu-open');
        });
    </script>
	
</body>

</html>